node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.production.example
!.env.development.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*.makefile

test-results
notes

certs

src/routes/playground/
