# output
bin
data/*
# build
*.makefile
# for me to dev the application
# makefile send to repository for testing
!Makefile

!README.md
notes

# env
*.env
!.env
!example.env

# dockerfile
*.dockerfile
