<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sending my first html email</title>
</head>

<body style="font-size:1.2rem">
    <center>
        <table style="width:600px; border:1px solid black; padding:1rem 3rem; border-radius:2rem;" align="center">
            <h2 style="margin-bottom:3rem;">Nouvel evenement LiviOsteo</h2>
            <div style="margin-bottom:1rem;" class="paragraph space-y">Salut {{ .Username }}, je suis ravi de t'annoncer
                qu'un nouvel evenement vient d'etre annoncer.
            </div>
            <hr style="margin-bottom:1rem;">
            <div style="margin-bottom:1rem;" class="paragraph space-y">Nous t'attendons le <b>{{ .Heure }}</b> a une
                adresse que tu peux trouver sur ton compte.</div>
            <center>
                <button
                    style="margin-bottom:1rem; border:none; padding:0.8rem 2.4rem; padding:1rem 3rem; font-size:1.2rem; background:none; border:1px solid #89888e; border-radius:0.5rem; background-color:#89888e; color:white; font-weight:600; margin-inline:auto;"
                    class="space-y">Decouvre l'evenement</button>
            </center>
            <div style="margin-bottom:1rem;" class="paragraph space-y">
                blablablablablablablablablablablablablablablablablabla</div>
        </table>
    </center>
</body>

</html>
