---
import "@/styles/globals.css";
import Navigation from "../components/Navigation.astro";
import ProfileForm from "../components/ProfileForm.tsx";
// TODO: Change the placeholder so that I can get the actual values stored in DB
---

<div class="px-4 py-4">
    <ProfileForm />
</div>
<Navigation />
