---
import "@/styles/globals.css";
import EventForm from "../components/EventForm.tsx";
// NOTE: La page ou je gere mes inscriptions aux events
import Navigation from "../components/Navigation.astro";
---

<div class="h-full flex flex-col justify-between pt-12">
    <div class="px-6 py-8">
        email or password are not correct. <h2
            class="col-span-2 mb-4 font-black text-2xl"
        >
            Choix de la date <span class="text-red-400">*</span>
        </h2>
        <EventForm client:load />
    </div>
    <Navigation />
</div>

<style>
    body {
        height: 100vh;
    }
</style>
