---
// Ici je vais mettre quelques infos sur la description du projet et
// un recap sur les infos d'un user

import "@/styles/globals.css";
import Concept from "../components/Concept.tsx";
import Navigation from "../components/Navigation.astro";
---

<div class="pt-8 flex flex-col justify-between h-full">
    <div class="px-4 py-8 space-y-4">
        <h2 class="text-2xl font-black">Bienvenue, John Doe</h2>
        <p>Vous etes inscrits a X evenements</p>
        <p>Resultat du vote pour l'evenement du mois de Mars</p>
        <h2>Petit descriptif du concept</h2>
        <div class="p-4 space-y-4">
            <Concept client:load />
        </div>
    </div>
    <Navigation />
</div>

<style>
    body {
        height: 100vh;
    }
    .logo-placeholder {
        width: 20px;
        aspect-ratio: 1;
        background-color: white;
    }
</style>
