<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Leviosa] Verifions ton email</title>
</head>

<body style="padding:2rem; background-color:#F2F2F2; font-size:1.2rem;">
    <div align="center">
        <div style="width:600px; box-shadow: rgba(60, 60, 67, 0.78) 0px 1px 3px 0px, rgba(60, 60, 67, 0.78) 0px 0px 0px 1px; padding:1rem 3rem; border-radius:0.5rem; background-color:white;" align="center">
		
            <img src="cid:logo" alt="company logo" style="max-width:100%; height:auto;" />
            <h2 style="margin-bottom:3rem;">Confirmation de ton email</h2>
            <div style="margin-bottom:1rem;" >Bienvenue {{ .Firstname }}</div>
            <div style="margin-bottom:1rem;" >Pour proceder a ton inscription nous avons besoin de verifier ton addresse email. Nous te prions d'entrer le code suivant dans les 10 prochaines minutes. </div>
            <hr style="margin-bottom:1rem;">
            <center>
                <p
                    style="margin-bottom:1rem; border:none; padding:0.8rem 2.4rem; padding:1rem 3rem; font-size:1.2rem; background:none; border:1px solid #89888e; border-radius:0.5rem; background-color:#89888e; color:white; font-weight:600; margin-inline:auto;"
                    >{{ .Value }}
                </p>
            </center>

            <a href="https://www.instagram.com/leviosa_care/">Lien vers le instagram avec la balise <a></a>
            <div style="margin-bottom:1rem;" >
                blablablablablablablablablablablablablablablablablabla</div>
            <a href="https://www.instagram.com/leviosa_care/">
                <img src="cid:instagram" alt="instagram logo" style="max-width:40px; height:auto;"/>
            </a>
        </div>
    </div>
</body>

</html>
