---
import "@/styles/globals.css";
import Navigation from "../../components/Navigation.astro";
import AdminEventForm from "../../components/AdminEventForm.tsx";
// TODO: why do I do not have any styling on the page
---

<div class="h-full flex flex-col justify-between pt-12">
    <div class="px-6 py-8">
        <h2 class="text-center text-4xl">Creation d'un evenement</h2>
        <div class="mt-8">
            <AdminEventForm client:load />
        </div>
    </div>
    <Navigation />
</div>

<style>
    body {
        height: 100vh;
    }
</style>
